<div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
    <p class="text-2xl font-semibold text-gray-800">{{ title }}</p>

    <p class="text-lg font-medium text-gray-700 mt-4">My user:</p>
    <ul class="list-disc pl-5 text-gray-600">
        <li class="text-base font-normal">{{ user.name }}</li>
        <li class="text-base font-normal">{{ user.age }}</li>
    </ul>

    <button 
        (click)="handleClick()" 
        class="mt-4 bg-yellow-500 text-white px-4 py-2 rounded-md transition duration-300 hover:bg-sky-700 focus:ring-2 focus:ring-yellow-300">
        Just click to see the magic
    </button>

<app-child-form></app-child-form>

    <div class="flex">
        <div class="m-5">
            <input type="checkbox" (change)="handleCheckBox($event)" id="checkbox" name="checkbox" value="checkbox">
            <p>{{ checkBoxValue }}</p>
        </div>
          <!-- todo ne fonctionne pas -->
        <!-- <div>
            <input type="checkbox"[checked]="checkBoxValue1" id="checkbox" name="checkbox" value="checkbox">
            <p>{{ checkBoxValue1 }}</p>
        </div> -->

        <div class="m-5">
            <input type="checkbox" [(ngModel)]="checkBoxValue2">
            <p>{{ checkBoxValue2 }}</p>
        </div>
    </div>
    
            <!-- if/else Example of ngModel with checkbox -->
            @if (checkBoxValue || checkBoxValue2) {
                <p>A check is selected</p>
            }
            @if (checkBoxValue && checkBoxValue2) {
                <p>Both checkboxes are selected</p>
            }
            @else {
                <p>Non of the checkbox is selected</p>
            }
</div>
<app-ng-for></app-ng-for>